<article>
    <h1 class="page-title"><?php echo $article->article_title; ?></h1>
    
    <div id="<?php echo $page; ?>" data-val="<?php echo $article->article_id; ?>" class="clearfix"> 
        <div class="post-meta">
            by <?php echo $author->full_name; ?> | <?php echo date('d M Y', strtotime($article->article_date)); ?>
        </div>
        
        <div class="article-content">
            <img src="<?php echo base_url(); ?>article/<?php echo $article->article_pic; ?>" style="float:left; margin:0 15px 0 0;" />
            <div><?php echo $article->article_body; ?></div>
        </div>
    </div>
    
</article>

<script type="text/javascript">
	$(document).ready(function(){
		checkCookie(<?php echo $article->article_id; ?>);
	});
</script>