<h1 class="page-title">Articles</h1>
<div id="<?php echo $page; ?>" class="clearfix">    
    <?php foreach($articles as $art){ ?>
        <div class="article">
            <img src="http://lorempixel.com/150/150/people" />
            
            <div class="art-details">
                <h4 class="title"><a href="<?php echo site_url(); ?>article/<?php echo $art['content']->article_id; ?>" title="<?php echo $art['content']->article_title; ?>"><?php echo substr($art['content']->article_title, 0, 25); ?></a></h4>
                <div class="post-meta">
                    <p class="user">by <?php echo $art['user']->full_name; ?></p>
                    <p class="time"><?php echo date('d M Y', strtotime($art['content']->article_date)); ?></p>
                </div>
            </div>
        </div>
    <?php } ?>
</div>

<div id="paging"><?php echo $paging_links; ?></div>