<style>
	.toc{margin:40px 0;}	
	.toc h2{margin:10px 0;}	
	.toc ul{margin-left:20px;}
	.toc ul li{margin:10px 0; list-style:square;}
	
	.bintang{color:#FF0000; font-weight:bold;}
</style>

<div id="<?php echo $page; ?>">
	<h1>Mekanisme Quiz</h1>
    
    <div class="toc">
        <h2>Syarat dan Ketentuan <span class="bintang">*</span></h2>
        <ul>
        	<li>Kuis terbuka untuk umum, baik pelanggan maupun non-pelanggan Innovate.</li>
            <li>Kuis dimulai pada tanggal 26 Mei 2014 dan berakhir pada 16 Juni 2014.</li>
            <li>Peserta harus follow akun Twitter dan Facebook Innovate.</li>
            <li>Peserta wajib mengisi semua data diri dan informasi yang dibutuhkan pada kolom yang tertera.</li>
            <li>Untuk mengikuti kuis ini, peserta diminta menceritakan pengalamannya menggunakan layanan internet atau TV kabel dari operator tertentu.</li>
            <li>Cerita terdiri dari minimal 1.000 karakter dan maksimal 2.000 karakter.</li>
            <li>Peserta harus memilih salah satu kategori untuk setiap cerita yang di submit, internet atau TV kabel.</li>
            <li>Peserta dapat mengirimkan lebih dari satu cerita, namun hanya dapat terpilih menjadi pemenang sebanyak satu kali.</li>
            <li>Peserta tidak boleh menyebutkan brand yang digunakan pada kolom cerita.</li>
            <li>Cerita yang di submit oleh peserta tidak boleh mengandung SARA, pornografi maupun kekerasan.</li>
            <li>Admin akan melakukan verifikasi atas cerita yang sudah di submit oleh peserta dalam waktu maksimal 2x24 jam.</li>
            <li>Apabila cerita sesuai dengan ketentuan, peserta akan mendapatkan email notifikasi bahwa cerita sudah ditampilkan di website Innovate.</li>
            <li>Apabila peserta tidak memperoleh email notifikasi setelah batas waktu yang ditentukan, silakan mengirimkan cerita kembali yang disesuaikan dengan ketentuan kuis.</li>
            <li>Seluruh data dan informasi bersifat rahasia dan hanya digunakan untuk keperluan Innovate.</li>
        </ul>
    </div>
    
    <div class="toc">
        <h2>Penjurian dan Pengumuman Pemenang</h2>
        <ul>
            <li>Keputusan pemenang adalah hak mutlak dari pihak Innovate dan tidak dapat diganggu gugat.</li>
            <li>Pemenang cerita terbaik pilihan juri, diumumkan setiap 2 minggu sekali <span class="bintang">*</span></li>
            <li>Pemenang cerita favorit berdasarkan pilihan pembaca, diumumkan di akhir periode kuis.</li>
            <li>Apabila ada indikasi kecurangan atau pelanggaran yang dilakukan oleh peserta, maka juri berhak untuk membatalkan penyerahan hadiah dan hadiah akan dialihkan ke peserta lain.</li>
            <li>Pemenang akan diumumkan melalui website akun resmi Social Media Innovate.</li>
            <li>Pemenang akan dihubungi langsung oleh panitia melalui telepon atau email.</li>
            <li>Pemenang harus melakukan konfirmasi data diri yang diperlukan selambat-lambatnya 2x24jam setelah pengumuman pemenang. Apabila melewati batas waktu, pemenang akan dianggap gugur dan juri berhak menentukan pemenang pengganti.</li>
        </ul>
    </div>
    
    <p><span class="bintang">*</span> Dapat berubah sewaktu-waktu</p>
</div>